main {
  height: 100vh;
  min-height: 100px;
  margin: 0 16% 0 16%;
  display: flex;
  flex-direction: column;

  section {
    background-color: tomato;
    height: 8%;
    padding: 0 10px 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
  }

  article {
    height: 70%;
    // background-color: teal;

    li {
      display: flex;
      flex-wrap: wrap;

      .itemBox {
        width: 25%;
        // background-color: thistle;
        border: 1px solid black;
        padding: 0 10px 0 10px;
        display: flex;

        flex-direction: column;
        justify-content: space-between;

        .itemImg {
          width: 100%;
          height: 80%;
        }

        a {
          color: black;
        }

        span {
          color: black;
        }
      }
    }
  }
}
