@import '../../styles/variables.scss';

.inputBox {
  display: flex;
  position: relative;
  border-bottom: 1px solid #dedede;

  .inputTextBox {
    flex: 2;
    background-color: #fbfbfb;

    .inputText {
      position: absolute;
      height: 20%;
      top: 0;
      bottom: 0;
      margin: auto 0;
    }
  }

  .inputWrapper {
    flex: 8;
    height: 100px;
    padding: 0px 20px;
  }

  .signUpInput {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    width: 60%;
    height: 50%;
  }
}
