$borderColor: #eaeaea;
$boxColor: #f5f5f5;
$fontSize: 13px;
$fontColor: #a3a3a3;
button {
  background: transparent;
  border: none;
}

.recentSearch {
  position: absolute;
  right: 98px;
  top: 90px;
  width: 240px;
  border: 1px solid $borderColor;
  font-size: $fontSize;
  background-color: #fff;

  .recentWord {
    padding: 12px 0 10px 15px;
    font-weight: 700;
  }

  .separateLine {
    width: 90%;
    height: 1px;
    background-color: $borderColor;
    margin: auto;
  }

  .searchWord {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;

    button {
      padding: 0;
    }
  }

  .searchBoxControl {
    background-color: $boxColor;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;

    button {
      padding: 10px;
      font-size: $fontSize;
      color: $fontColor;
    }
  }
}
