.main {
  margin: 202px auto 0 auto;

  .article {
    margin: 30px 150px 0 150px;
  }
}

.mainWithNav {
  margin: 102px auto 0 auto;

  .article {
    margin: 30px 150px 0 150px;
    padding-bottom: 60px;
  }
}
