.main {
  margin: 202px auto 0 auto;
  width: 100%;
  .article {
    width: 1200px;
    margin: 30px auto;
  }
}

.mainWithNav {
  margin: 102px auto 0 auto;
  width: 100%;
  .article {
    width: 1200px;
    margin: 30px auto;
    padding-bottom: 60px;
  }
}
