$borderColor: #eaeaea;

.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1000;

  .modalTitle {
    width: 90%;
    padding: 30px 0 15px 0;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: space-between;

    p {
      font-size: 20px;
    }

    .closeBtn {
      cursor: pointer;
    }
  }

  .item {
    width: 90%;
    display: flex;

    .itemImage {
      width: 70px;
      margin: 20px;
    }

    .itemInfo {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: 35px;
      border-bottom: 1px solid $borderColor;

      .itemName {
        font-weight: 600;
        margin-bottom: 20px;
      }
    }
  }

  .itemOption {
    width: 90%;
    height: 100px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    p {
      margin-right: 30px;
    }

    select {
      margin-top: 12px;
      width: 300px;
      height: 40px;
      padding: 10px;
      border: 1px solid $borderColor;
    }
  }

  .optionNull {
    width: 90%;
    height: 100px;
  }

  .productControl {
    width: 90%;
    background-color: #f5f4f4;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .emptyBox {
      width: 150px;
      height: 20px;
    }

    .productCount {
      width: 60px;
      height: 30px;
      border: 1px solid $borderColor;
    }

    .productNameAndOption {
      text-align: left;
      margin-left: 40px;
      width: 160px;
    }

    .productCount {
      display: flex;
      align-items: center;

      input {
        width: 50px;
        height: 35px;
        padding-left: 20px;
        border: 1px solid #cccccc;
      }

      input:focus {
        outline: none;
      }

      .countUp {
        cursor: pointer;
        border: none;
        width: 23px;
        height: 17px;
        background: url('../../../../public/images/Shinung/btn_count_up.png');
        margin: 1px 0;
      }

      .countDown {
        cursor: pointer;
        border: none;
        width: 23px;
        height: 17px;
        background: url('../../../../public/images/Shinung/btn_count_down.png');
      }
    }

    .productTotal {
      width: 90px;
      margin: 20px 10px;

      button {
        cursor: pointer;
        font-size: 1px;
        margin-left: 10px;
        color: lightgrey;
        background-color: #fff;
        border: 1px solid $borderColor;
      }
    }
  }

  .modalControl {
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    border-top: 2px solid $borderColor;

    .modalCancel,
    .modalConfirm {
      cursor: pointer;
      background-color: white;
      border: 1px solid $borderColor;
      padding: 10px 30px;
      margin: 5px;
    }

    .modalConfirm {
      color: white;
      font-weight: bold;
      background-color: black;
    }
  }
}
