$blackColor: #333333;
$tagColor: #717171;
$mintColor: #2bc1bc;

.detailWrraper2 {
  width: 100%;
  min-height: 100px;
  margin: 118px auto;
  padding-top: 40px;
}

.detailWrraper {
  width: 100%;
  min-height: 100px;
  margin: 202px auto;
  padding-top: 40px;
}
