.recentOrder {
  border-bottom: 1px solid #dbdbdb;

  .orderData {
    padding: 10px;
    text-align: center;
  }

  .productNameOption {
    display: flex;
    text-align: left;
    align-items: center;
    color: black;
    font-weight: bold;
    border-left: 1px dotted #ededed;

    .productImage {
      width: 38px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .priceQuantity {
    .price {
      color: black;
      font-weight: bold;
    }
  }
}
