@import '/src/styles/variables.scss';

.companyInfo {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f6f6;

  .companyLogo {
    width: 200px;
    margin-right: 50px;
  }

  .footerInfo {
    p {
      padding: 5px 0;
      font-size: 13px;
      color: $textColor;
    }
  }
}
