@import '../../styles/variables.scss';

.signUp {
  @include flex-center;
  margin-top: 350px;
  font-family: 'Nanum Gothic', sans-serif;

  button {
    cursor: pointer;
  }

  .signUpHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .info {
    font-size: 20px;
  }

  .sideInfo {
    font-size: 12px;
  }

  .signUpButtonWrapper {
    height: 45px;
    text-align: center;

    .signUpBtn,
    .signUpCancelBtn {
      width: 150px;
      height: 100%;
      border: 1px solid black;
      margin: 0px 5px;
    }

    .signUpCancelBtn {
      background-color: white;
    }

    .signUpBtn {
      color: white;
      background-color: black;
    }
  }
}
