@import '../../styles/variables.scss';

.signUpInput {
  display: flex;
  position: relative;
  border-bottom: 1px solid $greyBorderColor;

  .inputTextBox {
    flex: 2;
    background-color: #fbfbfb;

    .inputText {
      position: absolute;
      height: 20%;
      top: 0;
      bottom: 0;
      margin: auto 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .inputWrapper {
    flex: 8;
    position: relative;
    height: 100px;
    padding: 0px 20px;

    .warning {
      position: absolute;
      bottom: 0;
    }

    .input {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 80%;
      height: 50%;
    }
  }
}
