@import '../../styles/variables.scss';

@mixin warning {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  font-size: 14px;
  color: red;
}

.signUpInput {
  display: flex;
  position: relative;
  border-bottom: 1px solid $greyBorderColor;

  .inputTextBox {
    flex: 2;
    background-color: #fbfbfb;

    .inputText {
      position: absolute;
      height: 20%;
      top: 0;
      bottom: 0;
      margin: auto 10px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .inputWrapper {
    flex: 8;
    position: relative;
    height: 100px;
    padding: 0px 20px;

    .warningShowUp {
      @include warning;
    }

    .clear {
      position: absolute;
      bottom: 0;
      margin-bottom: 5px;
      font-size: 14px;
      color: #00891a;
      transition: all 1s;
    }
    .input {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto 0;
      width: 80%;
      height: 50%;
    }
  }
}
